In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pickle

In [2]:
data = pd.read_csv('Housing.csv')

In [3]:
data.tail(-5)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
5,10850000,7500,3,3,1,yes,no,yes,no,yes,2,yes,semi-furnished
6,10150000,8580,4,3,4,yes,no,no,no,yes,2,yes,semi-furnished
7,10150000,16200,5,3,2,yes,no,no,no,no,0,no,unfurnished
8,9870000,8100,4,1,2,yes,yes,yes,no,yes,2,yes,furnished
9,9800000,5750,3,2,4,yes,yes,no,no,yes,1,yes,unfurnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [4]:
data.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [5]:
data.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [7]:
non_columns=['mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
        'prefarea', 'furnishingstatus']
data_categorical = data

In [8]:

data_categorical.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [12]:


for column in non_columns:
    data_categorical = pd.get_dummies(data_categorical, columns=column)
    #data_categorical.drop(column)

KeyError: "None of [Index(['mainroad'], dtype='object')] are in the [columns]"

In [ ]:
data_categorical = pd.get_dummies(data, columns=['mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
        'prefarea', 'furnishingstatus'])

In [ ]:
data_categorical.drop('mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
        'prefarea', 'furnishingstatus', axis=1)

TypeError: DataFrame.drop() takes from 1 to 2 positional arguments but 8 positional arguments (and 1 keyword-only argument) were given

In [ ]:
data_categorical.head()

,price,area,bedrooms,bathrooms,stories,parking,mainroad_no,mainroad_yes,guestroom_no,guestroom_yes,...,basement_yes,hotwaterheating_no,hotwaterheating_yes,airconditioning_no,airconditioning_yes,prefarea_no,prefarea_yes,furnishingstatus_furnished,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,13300000,7420,4,2,3,2,False,True,True,False,...,False,True,False,False,True,False,True,True,False,False
1,12250000,8960,4,4,4,3,False,True,True,False,...,False,True,False,False,True,True,False,True,False,False
2,12250000,9960,3,2,2,2,False,True,True,False,...,True,True,False,True,False,False,True,False,True,False
3,12215000,7500,4,2,2,3,False,True,True,False,...,True,True,False,False,True,False,True,True,False,False
4,11410000,7420,4,1,2,2,False,True,False,True,...,True,True,False,False,True,True,False,True,False,False

In [ ]:
data.to_csv("numerical.csv")

In [ ]:
X = data.drop(columns=['price'])

In [ ]:
Y = data['price']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    X, Y, test_size=0.2)

In [ ]:
model = LinearRegression()
model.fit(X_train, y_train)

In [ ]:
pickle.dump(model, open('house_predict_model.pkl','wb'))

In [ ]:
import numpy as np
x_test = np.array(X_test)
print(np.array(X_test))
y_test = np.array(y_test)
print(np.array(y_test))

[[3420 4 2 ... False True False]
 [4046 3 1 ... False True False]
 [8080 3 1 ... False True False]
 ...
 [6360 3 1 ... True False False]
 [4000 3 2 ... False True False]
 [6600 2 2 ... True False False]]
[ 4893000  4165000  3920000  3773000  4956000  3850000  3633000  7035000
  6650000  3605000  6475000  3430000  4445000 11410000  6107500  7420000
  1767150  3710000  6440000  6650000  4900000  8400000  3353000  7420000
  3220000  3255000  3150000  4690000  4480000  4025000  4900000  3087000
  4060000  3465000  3290000  5425000  2380000  4025000  4893000  4585000
  5460000  4165000  1890000  3745000  5215000  4515000  3360000  2485000
  4375000  5950000  4130000  3500000  4690000  6083000  4340000  2310000
  5565000  4753000  4900000  3118850  4200000  3500000  7840000  3493000
  6475000  4970000  2450000  3150000  4403000  1750000  4200000  2408000
  9681000  2590000  2940000  4473000  7560000  4480000  3500000  7980000
  2835000  3710000  5250000  5110000  4970000  3010000  3773000  5950000
  3010000  5075000  3500000  4193000  2870000  6300000  6650000  4935000
  5383000  4900000  6195000  8400000  7455000  3990000  6440000  3640000
  4095000  2135000  5740000  6790000  6685000]

In [ ]:
model = pickle.load(open('house_predict_model.pkl','rb'))
predicted_price = model.predict(X_test)

print(predicted_price[0])

6508327.030970767

In [ ]:
expensive = pd.read_csv()
cheap
moderate